/trident/src/main/java/
/trident/src/main/resources/
/trident/src/test/java/
/trident/src/test/resources/
/trident/target/
/laf-widget/src/main/java
/laf-widget/src/main/resources/
/laf-widget/src/test/java
/laf-widget/src/test//resources/
/laf-widget/target/
/flamingo/src/main/java/
/flamingo/src/main//resources/
/flamingo/src/test/java/
/flamingo/src/test//resources/
/flamingo/target/
/substance/src/main/java/
/substance/src/main//resources/
/substance/src/test/java/
/substance/src/test//resources/
/substance/target/
/substance-swingx/src/main/java/
/substance-swingx/src/main//resources/
/substance-swingx/src/test/java/
/substance-swingx/src/test//resources/
/substance-swingx/target/
/laf-plugin/target/